body{
  background-color: #344e41;
  color: #faedcd;
  width: 500px;
  margin-right: auto;
  margin-left: auto;
}
button{
  padding: 5px 20px;
  background-color: #faedcd;
  border-style: none;
}
input{
  height: 20px;
}